h1, h2, h3, h4, h5, h6  {
    font-family:Gilroy, Montserrat;
}
p {
    font-family:Roboto;
}
body {
    margin:0;
}
.button {
    padding:10px 25px;
    background-color:#52ae32;
    border-radius:20px;
    color:white;
    text-decoration:none;
    text-align:center;
    transition:all 0.2s ease-in-out;
    border:1px solid transparent;
    font-family:Gilroy, Montserrat;
    font-weight:lighter;
    font-size:15px;
}
.button:hover {
    background-color:transparent;
    border:1px solid #52ae32;
    color:#52ae32;
}

/* BANNER */
.about-us-banner {
    height:500px;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background:linear-gradient(to bottom, black, rgba(0,0,0,0)), url(Images/Autres/about-us-section.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    color:white;
    margin-bottom:50px;
}
.about-us-banner p {
    padding: 0 20px 0 20px;
    text-align: center;
}

/* Bloc people */

.pseudo {
    font-family:Gilroy, Montserrat;
    font-size:12px
}
.gca_content {
    margin-top:55px;
}
.gca_content .category {
    font-family: Gilroy, Montserrat;
    font-size: 14px;
    text-transform: uppercase;
    display:block;
    line-height:2.2em;
}
.category-title {
    font-weight:bold;
    color:#52ae32;
}
.gca_content h3 {
    font-weight:bold;
    font-size:24px;
}
.gca_content p {
    margin-bottom:30px;
    line-height:1.5em;
}

.gca_about_us {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        min-height: 200px;

    }

    .gca_row {
        display: flex;
        flex-direction: row;     
        align-content: center;
        box-shadow: 2px 3px 6px lightgrey; 
        background-clip: padding-box;
        border-radius: 15px;
        position: relative;
        height:300px;
        width: 60%;
        max-width: 900px;
        min-width: 300px;
        margin-bottom:50px;
    }


    .gca_column {
        flex: 1;
        position:relative;
        padding-right:30px;
    }


    .gca_column:first-child {
     
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        

    }

    .gca_img {
        border-radius: 5px 0 0 5px;
        max-width:100%;
        max-height:100%;
    }

    .gca_img_box{
        width: 30%;
        min-width: 200px;
        max-width: 400px;
        margin-right: 20px;
        background-size: cover;
        background-repeat:no-repeat;
        background-position:center;
        border-top-left-radius:15px;
        border-bottom-left-radius:15px;
        filter:grayscale(0.2);
    } 
    .gca_img_box.geoffroy {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/Geoffroy.jpg");
    }
    .gca_img_box.gael {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/oim.jpg");
    }
    .gca_img_box.benjamin {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/benjamin.jpg");
    }
    .gca_img_box.stephane {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/stephan.jpg");
    }
    .gca_img_box.victor {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/benjamin.jpg");
    }
    .gca_img_box.abdel {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/abdel.jpg");
        background-position:top;
    }
    .gca_img_box.guillaume {
        background-image: linear-gradient(rgba(107,107,107,0), rgba(107,107,107,0.5)), url("Images/About-us/GCA.png");
    }

    .gca_icon {
        width: 50px;
        height: 50px;
        background: url("Images/retro-bloc-blue.png") no-repeat scroll 0 0 transparent;
    }
    .align_center{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }

    .pseudo{
        position: absolute;
        top:0;
        left: 0;
        box-shadow:0px 2px 5px grey; 
        padding: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 20px;
        font-weight: bold;
        background-color:#52ae32;
        color:white;

    }

@media all and (max-width:960px) and (orientation:portrait) {
    .gca_row {
        flex-direction:column;
        height:auto;
        width:100%;
    }
    .gca_img_box {
        width:100%;
        min-width:100%;
        margin-right:0;
        height:200px;
        min-height:200px;
        border-bottom-left-radius:0px;
        border-top-right-radius:15px;
    }
    .pseudo {
        top:-200px;
        left:20px;
    }
    .gca_content {
        margin-top:0px;
    }
    .gca_column {
        padding:20px 20px 30px 20px
    }
}
@media all and (max-width:1100px) {
    .gca_row {
        width:100%;
    }
}
