.card {
    background-color: white;
   
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
}

.gca_row {
    display: flex;
    flex-direction: row;
    flex-basis: max-content;

    max-width:40%;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    background-clip: padding-box;
    border-radius: 5px 5px 5px 5px;
    
}

.gca_column {
  flex: 1;

  margin: 10px;
  
}
.gca_column:first-child {
  flex: 1;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  
}

.gca_img {
     background-size:contain;
     
    border-radius: 5px;
    max-width:100%;
    max-height:100%;
    
}