.gca_about_us {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        min-height: 200px;

    }

    .gca_row {
        display: flex;
        flex-direction: row;     
        align-content: center;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
        background-clip: padding-box;
        border-radius: 5px 5px 5px 5px;
        position: relative;
    }


    .gca_column {
        flex: 1;
        margin-top: 20px;

    }


    .gca_column:first-child {
     
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        

    }

    .gca_img {
        border-radius: 5px 0 0 5px;
        max-width:100%;
        max-height:100%;
    }

    .gca_img_box{
        width: 30%;
        min-width: 200px;
        max-width: 400px;
        background-size:contain; 
        margin-right: 20px;
        background: url("images/GCA.jpg") no-repeat scroll 0 0 transparent;
        background-size: cover;
    } 

    .gca_icon {
        width: 50px;
        height: 50px;
        background: url("images/retro-bloc-blue.png") no-repeat scroll 0 0 transparent;
    }
    .align_center{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .category{
        position: absolute;
        top:o;
        right: 20px;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
        padding: 8px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
