body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 150px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_burger_container {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_burger {
    width: 100px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    cursor: pointer;
}

.bar {
    width: 80px;
    height: 8px;
    background-color: #15062f;
    margin-top: 12px;
}

.menu {
    display: none;
}

ul {
    list-style: none;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
}

.menu_sidebar {
    width: 33%;
    height: 600px;
    background-color: #15062f;
    display: none;
}