/*Version mobile*/
h1, h2, h3, h4, h5, h6 {
    font-family:Gilroy,Montserrat;
}
nav
{
    display: flex;
    background-color: #15062F;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9em;
}

nav h2
{
    margin-left: 25px;
}

.nav-and-bloc-container section
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.bloc
{
    height: 200px;
	width: 80%;
    background-color: lightgrey;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 6px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
.bloc span{
    position: absolute;
    top:0;
    left:30px;
    background-color: white;
    color: #9D59BA;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 2px 5px grey;
}

.bloc-container {
    width:calc(100vw - 250px);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.bloc.super-mario-bros-2-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0.5), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/WildCodeSchool/lyon-0320-golden-retro/dev/Images/Jeux/supermariobros.jpg);
    background-position:center;
    background-size:cover;
}
.bloc.sonic-the-hedgehog-2-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0.5), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/WildCodeSchool/lyon-0320-golden-retro/geoffroy/Images/Jeux/sonic.jpg);
    background-position:center;
    background-size:cover;

}
.bloc.pac-man-container {
    background-image:linear-gradient(rgba(107, 107, 107, 0.5), rgba(107, 107, 107, 0.5)), url(https://raw.githubusercontent.com/WildCodeSchool/lyon-0320-golden-retro/geoffroy/Images/Jeux/pacman-149704_1280.png);
    background-position:center;
    background-size:cover;

}
.bloc.street-fighter-container {
    background-image: linear-gradient(rgba(107, 107, 107, 0.5), rgba(107, 107,107, 0.5)), url(https://raw.githubusercontent.com/WildCodeSchool/lyon-0320-golden-retro/geoffroy/Images/Jeux/Street_Fighter_old_logo.png);
    background-position:center;
    background-size:cover;

}
.bloc h3{
    font-size: 24px;
}

.bloc span{
    font-size: 12px;
    font-family: Gilroy, Montserrat;
}

/*Version Desktop*/
@media screen and (min-width: 961px)
{

nav
{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 700px;
    float: left;
    background-color:#15062F;
	padding: 20px;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    z-index: 9999;
}
.nav-and-bloc-container {
    width: 100%;
    position: relative;
}
.nav-and-bloc-container section
{
    width: 100%;
}

.bloc-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    padding-left:250px;
}

.bloc
{
    height: 200px;
	width: calc(50% - 200px);
    background-color: lightgrey;
    margin: 20px;
    transition: all 0.2s ease-in-out;
}

.bloc:hover{
    transform: scale(1.03);
}


}