main {
  background-color: #f7f7f7;
}
h1, h2, h3 {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}
.cotation-negativ {
    display: flex;
    justify-content: center;
    background-color: green;
    border: solid green;
    border-radius: 10px;
}
.cotation-positiv {
    display: flex;
    justify-content: center;
    background-color: red;
    border: solid red;
    border-radius: 10px;
}

@media screen and (max-width: 960px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        margin: 10px;
        text-align: center;
    }
    .product-img-container {
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 10px;
        background-color: #15062F;
    }
    .product-video {
        width: 80%;
        max-width: 420px;
        max-height: 315px;
    }
    .product-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 10px;
        background-color: lightgrey;
    }
    .product-game-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        padding: 0 40px;
        margin: 10px;
        background-color: grey;
        border: solid grey;
        border-radius: 10px;
    }
    .product-video-container {
        display: flex;
        justify-content: center;
        height: 250px;
        width: 80%;
        padding: 10px;
        background-color: #15062F;
    }
    .product-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 10px;
        border: solid lightgray;
    }

}