hr {
    margin: 15px 0;
}
main {
    background-color: #f7f7f7;
    box-shadow: 3px 6px 4px lightgrey;
    padding: 20px 10px;
    padding-top:125px;
}
p,
a,
label {
    font-family: 'Roboto', sans-serif;
}
label {
    font-weight: 700;
    padding: 10px;
}
.product-game-title {
    padding: 20px;
    font-size: 30px;
}
.product-game-title a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.product-game-title a:hover {
    font-size: 25px;
    color: #52ae32;
}
.cotation-negativ {
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: red;
    border: solid red;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgrey;
}
.cotation-positiv {
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: green;
    border: solid green;
    border-radius: 10px;
    box-shadow: 0px 0px 10px lightgrey;
}
@media screen and (max-width: 960px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1, h2, h3 {
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: center;
        color:#52ae32;
    }
    p {
        margin: 10px;
        text-align: center;
    }
    .product-img-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 20px;
        background: #efefef;
        border-radius: 10px 10px 0 0;
        box-shadow: 0px 0px 10px lightgrey;
    }
    .game-image {
        margin: 50px 0;
        border-radius: 10px;
        box-shadow: 0px 0px 30px grey;
    }
    .product-video {
        width: 80%;
        max-width: 420px;
        max-height: 315px;
        margin: 50px 0;
    }
    .product-img-and-description {
        width: 100%;
    }
    .product-image-cotation-bloc img {
        width:100%;
    }
    .product-description-container {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 80%;
        background-color: #f7f7f7;
        box-shadow: 0px 0px 10px lightgrey;
    }
    .product-cotation-price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-cotation-mobile {
        display: block;
    }
    .product-image-cotation-bloc span {
        display: none;
    }
    .product-game-description {
        max-width: 350px;
        padding: 10px 40px;
        margin: 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px lightgrey;
    }
    .product-video-and-links {
        width: 100%;
    }
    .product-video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 80%;
        height: 400px;
        padding: 20px;
        background:#52ae32 ;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 0px 10px lightgrey;
    }
    .product-video-container iframe {
        width: 80%;
        height: 18em;
    }
    .product-video-container h3 {
        color: white;
        padding: 15px 0;
    }
    .product-video {
        width: 500px;
        height: 375px;
        box-shadow: 0px 0px 30px -10px #9D59BA;
    }
    .product-link-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -10px auto 30px auto;
        width: 80%;
        padding: 20px;
        background-color: #f7f7f7;
        box-shadow: 0px 5px 10px lightgrey;
        border-radius: 0px 0px 10px 10px;
    }
    .product-link-container a {
        text-decoration: none;
        color: black;
    }
    .product-link-container a:hover {
        color: #52ae32;
    }

}

@media screen and (min-width: 961px) {
    h1, h2, h3 {
        margin: 5px;
        font-family:Gilroy, 'Montserrat', sans-serif;
        font-weight: 700;
        text-align: left;
        color:#52ae32;
    }
    p {
        margin: 10px;
        text-align: left;
    }
    .product-image-cotation-bloc {
        position:relative;
        height:240px;
        width:165px;
    }
    .product-image-cotation-bloc img {
        position:absolute;
        top:0;
        left:50%;
        transform:translateX(-50%);
    }
    .product-image-cotation-bloc span {
        display: inline;
        position:absolute;
        text-align: center;
        top:115px;
        width:70px;
        left:-20px;
        background-color:#52ae32;
        color:white;
        padding:10px;
        border-top-right-radius:15px;
        border-bottom-right-radius:15px;
        font-weight:bold;
        font-family:Gilroy,Montserrat;
        font-size:20px;
    }
    .product-img-container {
        position: absolute;
        z-index: 9;
        width: 165px;
        height: 240px;
        padding: 20px;
        background-color: #efefef;
        border-radius: 10px 10px 0 0;
    }
    .game-image {
        max-width: 165px;
        border-radius: 10px;
        box-shadow: 2px 3px 6px grey;
    }
    .product-description-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-around;
        height: 275px;
        padding-left: 220px;
        background-color: #f7f7f7;
        border-radius: 10px;
    }
    .product-game-description {
        max-width: 300px;
        width:33%;
        padding: 0px 20px;
        border-radius: 0 0 10px 10px;
        justify-content:center;
        display:flex;
        align-items:center;
    }
    .product-platform-years {
        padding: 10px;
        border-right: 2px solid #efefef;
        width:50%;
        display:flex;
        flex-direction:column;
        align-items:center;
        height:80%;
        justify-content:center;
    }
    .product-cotation-price {
        padding: 10px;
        width:50%;
        display:flex;
        flex-direction:column;
        align-items:center;
        border-right:2px solid #efefef;
        height:80%;
        justify-content:center;
    }
    .product-cotation-mobile {
        display: none;
    }
    .product-platform-price-container {
        padding-top: 20px;
        display: flex;
        border-radius: 0 0 20px 0;
        width:66%;
    }
    .product-video-and-links {
        display: flex;
    }
    .product-video-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border-radius: 0 0 0 10px;
        /*background: linear-gradient(to right,#15062F, #15062F, black);*/
        background:#efefef;
    }
    .product-video-container iframe {
        width: 500px;
        height: 18em;
    }
    .product-video-container h3 {
        color: #52ae32;
        padding: 15px 0;
    }
    .product-video {
        width: 500px;
        height: 375px;
        box-shadow: 0px 0px 30px -10px #9D59BA;
    }
    .product-link-container {
        display: flex;
        flex-direction: column;
        width: 450px;
        padding: 45px 25px;
        background-color: #f7f7f7;
        border-radius: 0 20px 20px 0;
        box-shadow: 0px 0px 10px lightgrey;
    }
    .product-link-container a {
        text-decoration: none;
        color: black;
    }
    .product-link-container a:hover {
        color: #52ae32;
    }

}